/* CREATE PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */

header {
  background-color: #0799de;
  text-align: center;
  padding: 2rem;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.race-main {
  background-color: #eaeaea;
}

#create-race {
  text-align: center;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {
}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
