/* PROGRESS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
main#two-columns {
  margin: 50px 0;
  display: flex;
}

main#two-columns section {
  max-width: 50vw;
}

section#accelerate button {
  height: 150px;
  width: 300px;
  margin: 30px auto;
  border-radius: 180%;
  background-color: #ff4c08;
  border-color: #9c2e04;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

section#accelerate button:hover {
  background-color: #d13f06;
}

section#accelerate button:active {
  background-color: #000;
}

#big-numbers {
  font-weight: bolder;
  font-size: 70px;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {
}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
